body
{
font-family: Arial;
background:#0c1b33;
color:white;
text-align:center;
}

.container
{
width:300px;
margin:auto;
margin-top:100px;
}

input
{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:none;
}

button
{
background:#2f6df6;
color:white;
border:none;
padding:10px;
width:100%;
border-radius:6px;
}

.card
{
background:#162447;
margin:10px;
padding:10px;
border-radius:10px;
}

.slots
{
display:flex;
justify-content:center;
gap:10px;
}

.slot
{
padding:15px;
border:none;
border-radius:6px;
}

.available
{
background:green;
}

.booked
{
background:red;
}